In [23]:
#11.1
import zoo

zoo.hours()

Open 9-5 Daily

In [27]:
#11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 Daily

In [54]:
#16.4 through 16.6
import sqlite3
conn = sqlite3.connect("books.db")
curs = conn.cursor()
#drops the table if exits to enable creation
curs.execute('''DROP TABLE IF EXISTS books''')
#creates the table
curs.execute('''CREATE TABLE books (title text, author text, year integer)''')


ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'

#inserts book information into table
curs.execute(ins, ('The Weirdstone of Brisingamen', 'Alan Garner', 1960))
curs.execute(ins, ('Perdido Street Station', 'China Mieville', 2000))
curs.execute(ins, ('Thud!', 'Terry Pratchett', 2005))
curs.execute(ins, ('The Spellman Files','Lisa Lutz', 2007))
curs.execute(ins, ('Small Gods', 'Terry Pratchett', 1992))
curs.execute('SELECT * FROM books')
conn.commit()
rows = curs.fetchall()
print(rows)

conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Mieville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [66]:
#16.8
import sqlalchemy as sa

# Create an engine to connect to the books.db SQLite database
engine = sa.create_engine('sqlite:///books.db')

# Connect to the database
with engine.connect() as connection:
    # Define the query to select titles in alphabetical order
    query = sa.text("SELECT title FROM books ORDER BY title")
    
    # Execute the query
    result = connection.execute(query)
    
    # Print the results
    print("Titles in alphabetical order:")
    for row in result:
        print(row[0])

Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!